In [2]:
import pandas as pd
df = pd.read_csv('../data/pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

How many elements does this dataframe have?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
df.shape

(800, 13)

In [9]:
df.index # can be used in for loop

RangeIndex(start=0, stop=800, step=1)

In [13]:
for i in df.index:
    print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,

In [22]:
df.loc[3,'Name']

'VenusaurMega Venusaur'

In [23]:
df['Total'].max()

780

In [24]:
df.max()

C:\Users\wangq\AppData\Local\Temp\ipykernel_15428\1151452817.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

#                          721
Name          Zygarde50% Forme
Type 1                   Water
Total                      780
HP                         255
Attack                     190
Defense                    230
Sp. Atk                    194
Sp. Def                    230
Speed                      180
Generation                   6
Legendary                 True
dtype: object

In [26]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [27]:
df.loc[[10,15,67]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
67,62,Poliwrath,Water,Fighting,510,90,95,95,70,90,70,1,False

In [28]:
df.loc[[10,15,67], ['Total']]

    Total
10    405
15    395
67    510

In [4]:
df.loc[df['Attack'] == 45].sort_values(by='Name')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
444,399,Bidoof,Normal,NaN,250,59,45,40,35,40,31,4,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
40,35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False
337,309,Electrike,Electric,NaN,295,40,45,40,65,40,65,3,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
738,670,Floette,Fairy,NaN,371,54,45,47,75,98,52,6,False
636,575,Gothorita,Psychic,NaN,390,60,45,70,75,85,55,5,False
357,326,Grumpig,Psychic,NaN,470,80,45,65,90,110,80,3,False
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
57,52,Meowth,Normal,NaN,290,40,45,35,40,40,90,1,False
131,122,Mr. Mime,Psychic,Fairy,460,40,45,65,100,120,90,1,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
323,299,Nosepass,Rock,NaN,375,30,45,135,45,90,30,3,False
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False
464,417,Pachirisu,Electric,NaN,405,60,45,70,45,90,95,4,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
93,86,Seel,Water,NaN,325,65,45,55,45,70,45,1,False
203,188,Skiploom,Grass,Flying,340,55,45,50,45,65,80,2,False
324,300,Skitty,Normal,NaN,260,50,45,45,35,35,50,3,False
554,495,Snivy,Grass,NaN,308,45,45,55,45,55,63,5,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
272,252,Treecko,Grass,NaN,310,40,45,35,65,55,70,3,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
586,527,Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False
209,194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False
288,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False